<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All Users</title>
<Link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container text-center">
		<div>
			<form th:action="@{/logout}" method="post">
				<p>
					Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
				</p>
				<input type="submit" value="Sign Out" />
			</form>
		</div>
		
		
<!-- 	<section class="vh-100" style="background-color: #3da2c3;">
		<div class="container py-5 h100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col col-lg-8 col-xl-6">
					<div class="card rounded-3">
						<div class="card-body p-4">
						
          				<p class="mb-2"><span class="h2 me-2">Team Meeting</span> <span class="badge bg-danger">checklist</span></p>
         				<p class="text-muted pb-2">04/01/2020 • ML - 1321</p>
						
						<ul class="list-group rounded-0">
							<li class="list-group-item border-0 d-flex align-items-center ps-0">
								<input class="form-check-input me-3" type="checkbox" value="" aria-label="..." checked />
								<del>Task List and assignments</del>replacement of <s> tag
							</li>
							
							<li class="list-group-item border-0 d-flex align-items-center ps-0">
								<input class="form-check-input me-3" type="checkbox" value="" aria-label="..." checked />
								Set due date and assignments
							</li>
							<li class="list-group-item border-0 d-flex align-items-center ps-0">
								<input class="form-check-input me-3" type="checkbox" value="" aria-label="..." checked />
								Finish this project ASAP
							</li>
							<li class="list-group-item border-0 d-flex align-items-center ps-0">
								<input class="form-check-input me-3" type="checkbox" value="" aria-label="..." checked />
								Appointment for filing Tax is tomorrow at 11AM
							</li>
						</ul>
						
						</div>
					</div>
				</div>
			</div>		
		</div>
	</section> -->
	
	
	
	
	<!-- From here to -->
	
	
	<h1>List of All Users</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>E-mail</th>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${listUsers}">
					<td th:text="${user.id}">User ID</td>
					<td th:text="${user.email}">Email</td>
					<td th:text="${user.firstName}">First Name</td>
					<td th:text="${user.lastName}">Last Name</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<!-- Duplicate between toggle out to create todo list -->
	
<!-- 	<h1>Create your To-Do List</h1>
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-light">
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Description</th>
					<th>Status</th>	
				</tr>
			</thead>
			<tbody>
				<tr th:each="course: ${listCourses}">
					<td th:text="${course.id}">ID</td>
					<td th:text="${course.task}">Task Name</td>
					<td th:text="${course.description}">Description</td>
					<td th:text="${course.status}">Status</td>
				</tr>
			</tbody>
		</table>
	</div>
	 -->
</body>
</html>